@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
}

#div_dados {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    word-break: break-word;
    background-color: #2d6462;
    height: 90dvh;
    width: 98%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 10pt;
}

.div {
    margin-right: 15px;
}

#botao {
    height: auto;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

#sair {
    font-size: 12pt;
    font-weight: bolder;
    width: 80px;
    height: 40px;
    background-color: #49a09d;
    color: white;
    margin: 10px 10px 0px 10px;
    border: none;
    border-radius: 5px;
}

#sair {
    background-color: #2d6462;
}

h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #2d6462;
    border-radius: 20px;
    font-size: 50pt;
    text-shadow: 2px 2px 2px 7px rgb(57, 53, 53);
    padding: 10px;
}
