@charset 'UTF-8';

/*
Paleta de core:
Verde:#49a09d
Lilás:#5f2c82 
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body, html {
    background-image: url(/imagens/pref2.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    overflow: hidden;
}
  
#container {
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#versao {
    display: flex;
    align-items: end;
    justify-content:baseline;
    font-size: 12pt;
    color: white;
}

#filho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff40;
    height: 60%;
    width: 40%;
    box-shadow: 2px 2px 2px 0px black;
    border-radius: 10px;
    padding: 10px;
}

#texto {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:20px;
}

h1{
    padding-bottom: 20px;
    font-size: 35pt;
}

p{
    padding-bottom: 10px;
    font-size: 16pt;
}

.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 8px 0px;
}

.campo > label {
    display: none;
}

.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input {
    /* Colocar sempre tranform na ultima linha */
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-11px);
}

.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > span {
    font-size: 0.8em;
}

#ientrar {
    margin-top: 10px;
}

@media (max-width: 768px) {
    #filho{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    h1{
        padding-bottom: 20px;
        font-size: 25pt;
    }
    
    p{
        padding-bottom: 10px;
        font-size: 12pt;
    }

    .campo {
        margin-top: 10px;
    }

    
}